@page
@model azure_app_amjath_vs.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots Page";
}
<div class="text-center">
    <h1 class="display-4">Testing Deploymnet Slots</h1>
    
    <h3>Validating Deploymnent Slot feature</h3>
</div>