@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Azure for .Net Develop</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building azure Web apps with ASP.NET Core visual studio</a>.</p>
    <h3>We are hear to learn abouu the different Microsoft Azure features and .Net Core Development</h3>
</div>
